.header{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 100;

  &-top{
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    position: relative;

    &__text{
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.2px;
      text-align: center;
      color: $text-white;
      text-transform: uppercase;
      font-family: "Calibre-medium";
      width: 100%;
      position: relative;
      left: -9px;
      top: 4px;
    }
    &__contacts{
      position: absolute;
      top: 16px;
      right: 20px;
      display: flex;
      @media (max-width: 1100px) {
        display: none;
      }

      &__item{
        font-size: 16px;
        line-height: 16px;
        color: $text-white;
        font-family: $default-font;
        margin-left: 32px;
        text-decoration: none;

        &:hover, &:visited, &:focus{
          color: $text-white;
        }

        +.mark{
          background-image: url("../img/_src/icon-mark.jpg");
          background-repeat: no-repeat;
          background-position: top left;
          padding-left: 17px;
          background-size: 10px;
        }
      }
    }
  }

  &-bottom{
    background-color: $text-white;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    min-height: 64px;

    &__logo{
      width: 184px;
      min-width: 184px;
      display: block;
      padding-top: 16px;
      padding-left: 30px;

      @media (max-width: 1100px) {
        padding-left: 0;
        width: 124px;
        min-width: 124px;
      }

      img{
        width: 100%;
      }
    }

    &__menu{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
      background-color: $text-white;

      &__item{
        display: inline-block;
        text-decoration: none;
        font-size: 18px;
        line-height: 1;
        margin: 0 26px;
        letter-spacing: 0.1px;
        font-family: Calibre-Semibold;
        color: $text-menu;
        padding-top: 5px;

        &:hover, &:visited, &:focus{
          color: $text-menu;
        }
      }

      @media (max-width: 1100px) {
        position: absolute;
        top: 64px;
        left: -100%;
        opacity: 0;
        flex-direction: column;
        align-items: start;
        &__item{
          line-height: 2;
          width: 100%;
          border-bottom: 1px solid #ddd;
          padding-left: 20px;
          margin-left: 0;
        }
      }

      &.active{
        left: 0;
        opacity: 1
      }

    }

    &__right{
      width: 184px;
      min-width: 184px;
      display: flex;
      align-items: center;
      justify-content: end;
      position: relative;

      @media (max-width: 1100px) {
        width: 124px;
        min-width: 124px;
      }
    }

    &__search{
      border: 1px solid transparent;
      background-image: url("../img/_src/icon-search.jpg");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: right 5px top 50%;
      padding: 9px;
      transition: 0.3s;
      width: 50px;
      position: absolute;
      right: 80px;
      font-size: 16px;

      &:hover, &:focus{
        width: 200px;
        border-color: #121212;
      }
    }

    &__cart-wrap{
      overflow: hidden;
      width: 86px;
      height: 100%;
    }

    &__cart{
      height: 100%;
      cursor: pointer;
      background-color: #121212;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: 22px;

      &:after{
        content: "";
        position: absolute;
        left: -99.9%;
        width: 64px;
        height: 100%;
        background-color: #121212;
        transform: skewY(280deg);
        transform-origin: top right;
      }

      img{
        width: 24px;
        height: 24px;
      }
    }

  }
}

.navbar-toggler-wrap{
  width: 184px;
  min-width: 184px;
  align-items: center;
  padding-left: 20px;
  display: none;

  @media (max-width: 1100px) {
    display: flex;
  }

  @media (max-width: 1100px) {
    width: 124px;
    min-width: 124px;
  }
}
.navbar-toggler{
  background: none;
  width: 32px;
  min-width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: none;

  @media (max-width: 1100px) {
    display: block;
  }

  span{
    display: block;
    width: 100%;
    background-color: #121212;
    margin: 5px 0;
    height: 3px;
    transition: 0.3s;
    position: relative;
  }

  &.active{
    span:last-child{
      display: none;
    }

    span:first-child{
      transform: rotateZ(45deg);
      top: 3px;
    }
    span:nth-child(2n){
      transform: rotateZ(-45deg);
      top: -4px;
    }
  }
}



