$default-font: "Calibre-Regular", sans-serif;

//colors
$accent: orange;
$text: #292929;
$text-menu: #121212;
$text-white: #FFFFFF;

//font-size
$size-text: 18px;
$size-headers: 32px;
$size-menu: 18px;

